.meses,
.alimentos{
    padding: 0px;
}

.meses{
    background-color: aquamarine;
}

.alimentos{
    background-color: blueviolet;
}

body{
    margin: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}
  
  